:root{
  --var1: #8CE4FF;
  --var2: #FEEE91;
  --var3: #FFA239;
  --var4: #FF5656;
}

.App{
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: var(--var1);
}

.tableContainer {
  width: fit-content;
  position: relative;
}

.table {
  border-collapse: collapse;
  background-color: var(--var2);
}

.table, th, td{
  border: 1px solid var(--var3);
  padding: 5px;
}

.btnAjt {
  background-color: var(--var3);
  padding: 4px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 0;
}

.btnSupp {
  background-color: var(--var4);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px;
}
